body {
    background: linear-gradient(to right, #000000 50%, #ff6600 50%);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.logo-img {
    display: block;
    margin: 0 auto 1rem auto;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container input,
.login-container button {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}